* {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-image: url(bg-3.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: end;
    padding: 20px 40px 0 20px;
}

header li {
    border: 2px solid white;
    padding: 5px;
    background-color: rgba(94, 93, 93, 0.801);
    color: white;
    font-weight: bold;
}

header h1 {
    text-align: center;
    padding: 110px 0;
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

header p {
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.616);
    width: 320px;
    text-align: center;
    margin: auto;
    padding: 8px;
    border-bottom: 2px solid white;
}
.titulos h2 {
    background-color: rgb(235, 233, 233);
    padding: 10px;
    border-bottom: 2px solid gray;
}

.titulos p {
    margin: 7px;
    padding: 10px 0;
}

.titulos {
    width: 1000px;
    background-color: white;
    padding: 10px;
}

body {
    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    align-items: center;
}

.titulos a {
    background-color: rgb(190, 189, 189);
    padding: 8px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: rgba(61, 61, 61, 0.774);
    padding: 30px;
    color: white;
}
